body {
  margin: 0;
  background: #f8f9fa;
}

.head-banner {
  background-color: #828282;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url(sirisvisual-ipCm-UzM7jc-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  width: 100%;
  height: 95vh;
}

.sezione-icone {
  padding-top: 7rem;
  padding-bottom: 13rem;
}

.circular--portrait {
  object-fit: cover;
  border-radius: 100%;
  height: 220px;
  min-height: 210px;
  width: 210px;
  min-width: 210px;
  overflow: hidden;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

.content {
  padding: 25px;
  width: 100%;
  margin: 0 auto;
}

#modulo {
  border-top: solid 4px rgb(3, 163, 236);
  border-bottom: solid 4px rgb(3, 163, 236);
  padding: 15px;
  background: black;
  overflow: auto;
  color: white;
}

#modulo h1 {
  margin: 0;
}

#modulo h3 {
  margin: 15px 0 25px;
}

.form-content {
  padding: 0;
  margin: 0;
  width: 100%;
}
.form-content div {
  padding: 10px 0;
  box-sizing: border-box;
}

.form-content input {
  width: 100%;
}

.form-content textarea {
  padding: 10px;
  width: 100%;
  height: 100px;
  border: solid 2px black;
  box-sizing: border-box;
}
.form-content .pulsante {
  color: white;
  background: rgb(3, 163, 236) !important;
  width: 200px !important;
}
.form-content .pulsante:hover {
  background: tomato !important;
  color: white;
  border: solid 2px rgb(73, 73, 73);
}

.bi2 {
  margin-top: 20px;
}

footer {
  height: auto;
  background: black;
  font-family: sans-serif;
  padding-top: 40px;
  color: white;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-bottom p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
}

.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

.socials div {
  margin: 0 10px;
}

.socials a:hover {
  color: tomato;
}

.footer-bottom {
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  word-spacing: 2px;
}

.capture {
  background: #f8f9fa;
  margin-top: 80px;
  margin-left: 260px;
}
.info {
  padding-top: 50px;
  text-align: center;
}

.descrizione1 {
  text-align: left;
  margin: 50px;
}

nav li:hover {
  background-color: #737373;
}

.informazioni {
  padding: 150px;
}

.descrizione1 {
  font-size: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .head-banner {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}
